#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    z-index: 11;
}

#header .navbar {
    border-bottom: 1px solid #cacbc6;
    padding: 0rem 1rem !important;
}

.bg-white {
    background-color: #fff!important;
}

#header .navbar .nav-left {
    width: 214px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #cacbc6;
}

#header .navbar .nav-left .navbar-brand {
    padding: 0 !important;
    width: 168px;
    margin-right: 0;
}
#header .navbar .nav-left .navbar-brand img {
    height: 50px;
}

#header .navbar .username {
    color: #0779be !important;
    font-size: 1rem;
    font-weight: 300;
}
#header .nav-link {
    color: #1b2e4b !important;
    padding: 0.75rem 0.35rem !important;
    line-height: 25px;
}

#header .dropdown-menu-arrow {
    top: -25px;
    left: 50%;
    width: 0;
    height: 0;
    position: relative;
}

#header .power-icon {
    font-size: 25px;
    vertical-align: middle;
    color: #0779be !important;
}
#sidenav{
    top: 50px;
    margin-left: -230px;
    left: 230px;
    width: 230px;
    position: fixed;
    background-color: #ffffff;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform 0.9s ease-in-out;
}

#sidenav #sidebar-wrapper {
    min-height: 100%;
    margin-left: 0px;
    transition: margin 0.25s ease-out;
}

#sidenav #sidebar-wrapper .main-sidebar {
    width: 230px;
    z-index: 810;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

#sidenav #sidebar-wrapper .main-sidebar .sidebar {
    width: 100%;
    padding: 10px 0;
}

#sidenav #sidebar-wrapper .main-sidebar .sidebar .nav-menu {
    text-transform: uppercase;
    color: #1b2e4b;
    font-size: 13px;
    font-weight: 400;
}
#sidenav #sidebar-wrapper .main-sidebar .sidebar .nav-link {
    color: #1b2e4b !important;
}
#sidenav #sidebar-wrapper .main-sidebar .sidebar .nav-link.active {
    color: #f58320 !important;
}

#sidenav #sidebar-wrapper .main-sidebar .sidebar .copyright {
    position: fixed;
    bottom: 0px;
    font-size: 12px;
    width: 230px;
    text-align: center;
    padding: 15px 0;
}

#page-content-wrapper {
    background-color: #f7faff;
    margin-left: 230px;
    padding: 30px;
    padding-top: 92px;
    width: auto !important;
    min-height: 100vh;
}

.title {
    font-weight: 300;
    display: inline-block;
    color: #0779be;
}

.content {
    padding: 20px;
    background: #ffffff;
    margin-bottom: 30px;
    border-radius: 4px;
}

.form-control {
    background-color: #F7FAFF !important;
    border-radius: 4px;
    border: 1px solid #cacbc6;
}
.inputborder {
    border-left: 3px solid #EE1C25 !important;
}
thead {
    background-color: #d0dce8;
    color: #0779be;
    text-transform: capitalize;
}
table.dataTable thead th {
    border-bottom: 0px;
    padding: 8px 10px;
    vertical-align: top;
    font-weight: 500;
}

#healthCareDatatable {
    table-layout: fixed;
    border: 1px solid #cacbc6;
}

table.dataTable tbody td{
    border-top: 1px solid #cacbc6;
    padding: 8px 10px;
}

.finance-query-btn {
    margin-top: 32px;
}